@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dynamic-border-color: #000; /* Default border color */
    --dynamic-box-border-color: #fff; /* Default border color */
}

// add the code bellow
@layer utilities {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .no-scrollbar::-moz-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
}